.App {
    text-align: center;
    align-content: center;
    vertical-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
}

.Menu {
    height: 100%;
    z-index: 2;
    position: absolute;
    background: #ffffff;
    display: inline-flexbox;
    overflow-x: visible;
    overflow-y: clip;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.Col {
    display: block;
    overflow: hidden;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.RerollButton {
    box-shadow: 0px 0px 0px 0px #f0f7fa;
    background-color: #33bdef;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 24px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #5b6178;
    border: none;
    margin: 10px;
}

.RerollButton:hover {
    background-color: #019ad2;
}

.RerollButton:active {
    position: relative;
    top: 1px;
}